<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/static/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/static/favicon.png" rel="icon">
    <meta name="author" content="Ho Chun Ngai">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Exist</title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700%7CDroid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/exist-font/style.css">
    <!-- CSS Library-->
    <link rel="stylesheet" href="/static/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="/static/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="/static/plugins/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/static/plugins/animate.css/animate.min.css">
    <link rel="stylesheet" href="/static/plugins/jquery-ui/jquery-ui.min.css">
    <!-- Custom-->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->

<body class="ps-loading">
    <header class="header header--1" data-sticky="true">
        <nav class="navigation">
            <header class="header header--6" data-sticky="true">
                <div class="header__top">
                    <div class="container">
                        <div class="left">
                            <p><i class="exist-notification"></i> Welcome you to our Unique Urban Clothing - Exist</p>
                        </div>
                        <div class="right">
                            <div class="header__actions"><a id="logout" href="/logout"><i class="exist-user"></i>Logout</a><text style="color: #000000;" id="username"></text><a href="#"><i class="exist-heart"></i>Whishlist</a>
                                <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eng<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">Japanese</a></li>
                                        <li><a href="#">Chinese</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group ps-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">USD</a></li>
                                        <li><a href="#">SGD</a></li>
                                        <li><a href="#">JPN</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__center">
                    <div class="container"><a class="ps-logo" href="#"><img src="/static/images/logo.png" alt=""></a>
                        <ul class="header__actions">
                            <li><a class="ps-search-btn" href="#"><i class="exist-search"></i></a></li>
                            <li class="header__cart"><a class="ps-shopping" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="shopping-cart"><i class="exist-minicart"></i><span><i>0</i></span></a>
                                <ul class="dropdown-menu" aria-labelledby="shopping-cart" id="shopping-list">
                                    <li><span class="ps-product--shopping-cart"><a class="ps-product__thumbnail" href="product-detail.html"><img src="/static/images/cart/1.jpg" alt=""></a><span class="ps-product__content"><a class="ps-product__title" href="#">T-shirt blue with slogan</a><span class="ps-product__quantity">1 x <span> $5250.00</span></span>
                                        </span><a class="ps-product__remove" href="#"><i class="fa fa-trash"></i></a></span>
                                    </li>
                                    <li><span class="ps-product--shopping-cart"><a class="ps-product__thumbnail" href="product-detail.html"><img src="/static/images/cart/2.jpg" alt=""></a><span class="ps-product__content"><a class="ps-product__title" href="#">T-shirt blue with slogan</a><span class="ps-product__quantity">1 x <span> $5250.00</span></span>
                                        </span><a class="ps-product__remove" href="#"><i class="fa fa-trash"></i></a></span>
                                    </li>
                                    <li class="total">
                                        <p>Total: <span> $5250.00</span></p><a class="ps-btn" href="#">Go to cart</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav class="navigation">
                    <div class="container">
                        <ul class="menu">
                            <li class="current-menu-item menu-item-has-children dropdown"><a href="index.html">Home</a>
                                
                            </li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Features</a></li>
                            <li class="menu-item-has-children dropdown"><a href="/blog">Blog</a>
        
                            </li>
                        </ul>
                        <div class="menu-toggle"><span></span></div>
                        <div class="header__hotline">
                            <p><i class="exist-hotline"></i> (00) 123 555 789</p>
                        </div>
                        
                    </div>
                </nav>
            </header>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-product--detail small">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ps-product__thumbnail">
                        <div class="ps-product__images-large">
                            <div class="item"><img src="/static/images/product-creative-content/main-1.jpg" alt=""><a class="ps-product__zoom single-image-popup" href="/static/images/product-creative-content/main-1.jpg"><i class="exist-zoom"></i></a></div>
                            <div class="item"><img src="/static/images/product-creative-content/main-1.jpg" alt=""><a class="ps-product__zoom single-image-popup" href="/static/images/product-creative-content/main-1.jpg"><i class="exist-zoom"></i></a></div>
                            <div class="item"><img src="/static/images/product-creative-content/main-1.jpg" alt=""><a class="ps-product__zoom single-image-popup" href="/static/images/product-creative-content/main-1.jpg"><i class="exist-zoom"></i></a></div>
                        </div>
                        <div class="ps-product__nav">
                            <div class="item"><img src="/static/images/product-creative-content/thumbnail-1.jpg" alt=""></div>
                            <div class="item"><img src="/static/images/product-creative-content/thumbnail-2.jpg" alt=""></div>
                            <div class="item"><img src="/static/images/product-creative-content/thumbnail-3.jpg" alt=""></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ps-product__video"><a class="video-popup" href="https://www.youtube.com/watch?v=4ZighUyrsRU"><i class="exist-play"></i>Watch Video</a></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                    <div class="ps-product__info">
                        <h1 class="ps-product__title">Crinkled chiffon blouse</h1>
                        <h4 class="ps-product__price">$39.00</h4>
                        <div class="ps-product__rating">
                            <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="2">5</option>
                            </select><span>(2 customers review)</span>
                        </div>
                        <div class="ps-product__short-desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed fermentum nibh, vel aliquet massa. Etiam in magna id risus lacinia luctus eget eu est.</p>
                        </div>
                        <div class="ps-product__variants">
                            <h5>Color</h5>
                            <div class="ps-radio ps-radio--inline black">
                                <input class="form-control" type="radio" id="color-1" name="type-1">
                                <label for="color-1"></label>
                            </div>
                            <div class="ps-radio ps-radio--inline white">
                                <input class="form-control" type="radio" id="color-2" name="type-1">
                                <label for="color-2"></label>
                            </div>
                            <div class="ps-radio ps-radio--inline brown">
                                <input class="form-control" type="radio" id="color-3" name="type-1">
                                <label for="color-3"></label>
                            </div>
                            <div class="ps-radio ps-radio--inline gray">
                                <input class="form-control" type="radio" id="color-4" name="type-1">
                                <label for="color-4"></label>
                            </div>
                            <h5 class="mt-30"> Size</h5>
                            <ul class="ps-product__size">
                                <li><a href="#"><span>xs</span></a></li>
                                <li><a href="#"><span>S</span></a></li>
                                <li class="current"><a href="#"><span>M</span></a></li>
                                <li><a href="#"><span>
                            <del>L</del></span></a></li>
                                <li><a href="#"><span>
                            <del>XL</del></span></a></li>
                            </ul>
                        </div>
                        <div class="ps-product__divider"></div>
                        <div class="ps-product__shopping">
                            <div class="form-group form-group--number">
                                <input class="form-control" type="text" value="1"><span class="down">-</span><span class="up">+</span>
                            </div>
                            <button class="ps-btn ps-btn--black"><i class="exist-minicart mr-5"></i> Add to cart</button>
                            <ul class="ps-product__cart-action">
                                <li><a href="#"><i class="exist-heart"></i>Add to Whishlist</a></li>
                                <li><a href="#"><i class="exist-compare"></i>Compare</a></li>
                            </ul>
                            <p><strong>SKU:</strong>N/A</p>
                            <p><strong>Category:</strong><a href="#">Woman</a>,<a href="#">Top</a></p>
                        </div>
                        <div class="ps-product__divider"></div>
                        <p class="ps-product__sharing">Share:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-product__content">
            <div class="container">
                <ul class="tab-list" role="tablist">
                    <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Description</a></li>
                    <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Details</a></li>
                    <li><a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab">Reviews(2)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab_01">
                        <div class="ps-content">
                            <p><strong>Duis rutrum, ante id volutpat vehicula, ante enim luctus dolor, id tincidunt mi augue quis est.</strong></p>
                            <p>Maecenas quis convallis velit. Aliquam laoreet leo non viverra tempor. Aliquam tincidunt mollis lacus, in condimentum ante scelerisque eu. Integer dapibus commodo elit et mollis. Sed sit amet eros vel orci porta maximus non commodo mi. Morbi tincidunt dolor elit, a condimentum tortor facilisis sed.</p><img src="images/product/small/small.jpg" alt="">
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_02">
                        <div class="ps-content">
                            <p><strong>Duis rutrum, ante id volutpat vehicula, ante enim luctus dolor, id tincidunt mi augue quis est.</strong></p>
                            <p>Maecenas quis convallis velit. Aliquam laoreet leo non viverra tempor. Aliquam tincidunt mollis lacus, in condimentum ante scelerisque eu. Integer dapibus commodo elit et mollis. Sed sit amet eros vel orci porta maximus non commodo mi. Morbi tincidunt dolor elit, a condimentum tortor facilisis sed.</p>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab_03">
                        <p class="mb-20">0 review for <strong>Smocked blouse</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </footer>
    <div id="back2top">Go to top<i class="exist-rightarrow"></i></div>
    <!-- JS Library-->
    <script type="text/javascript" src="/static/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="/static/plugins/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/plugins/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/static/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/plugins/slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/static/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/static/plugins/wow.min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/plugins/gmap3.min.js"></script>
    <!-- Custom scripts-->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAckIeA7eVaNv2fKmIKl-udHqlZW2tYxME&amp;region=GB"></script>
</body>

</html>