<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container" >
		<div id="content">
			<form action="/" method="POST">
				<h1>Login Form</h1>
				<div>
					<input type="text" placeholder="Email" required="" name='logemail' id="username" />
				</div>
				<div>
					<input type="password" placeholder="Password" required="" name='logpassword' id="password" />
				</div>
				<div>
					<input type="submit" value="Log in" />
					<a href="signup.html">Register</a>
				</div>
			</form><!-- form -->
			<div class="button">
			</div><!-- button -->
		</div><!-- content -->
	</div><!-- container -->
</body>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</html>