<!DOCTYPE html>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iofrm</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iofrm-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iofrm-theme22.css">
</head>
<script>




// $( document ).ready(function() {


//      $('body').on('click', "#send",function(){
     
//             var username=$("#username").val();
//             var password=$("#password").val();
            
//             var mydata="user="+username+"&pass="+password;
// 			var mydata={"user":username,"pass":password};
//             alert(mydata);
      
//          $.ajax({
//             type: "POST", // Post / Get method
//             url: "http://127.0.0.1:9999/passdata", //Where form data is sent on submission
//             dataType:"json", // Data type, HTML, json etc.
//             data:JSON.stringify(mydata), //Form variables
//             success:function(response){
// 				alert(response);
             
//             },
//             error:function (xhr, ajaxOptions, thrownError){
//                 alert(thrownError);
//             }
//             });
//       });       
            
// });


 

</script>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="/index">
                <div class="logo">
                    <img class="logo-size" src="/static/images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="/static/images/graphic3.svg" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Login to account</h3>
                        <p>Access to the most awesome fashion online store.</p>
                        <form>
                            <input class="form-control" type="text" id="username" placeholder="E-mail Address" required>
                            <input class="form-control" type="password" id="password" placeholder="Password" required>
                            <a id=""></a>
                            <div class="form-button">
                                <button id="send" type="button" class="ibtn">Login</button> <a href="/forgetpassword">Forget password?</a>
                            </div>
                        </form>
                        <div class="other-links">
                            <div class="text">Or login with</div>
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
                        </div>
                        <div class="page-links">
                            <a href="register22.html">Register new account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/vendor/tilt/tilt.jquery.min.js"></script>
<script src="/static/js/login22.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>