<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<section id="content">
			<form action="/" method="POST">
                <h1>Signup Form</h1>
                <div>
					<input type="text" placeholder="Email" required="" name="email" id="username" />
				</div>
				<div>
					<input type="text" placeholder="Username" required="" name="username" id="username" />
				</div>
				<div>
					<input type="password" placeholder="Password" required="" name="password" id="password" />
                </div>
                <div>
					<input type="password" placeholder="Confirm Password" required="" name="passwordConf" id="password" />
				</div>
				<div>
					<input type="submit" value="Log in" />
				</div>
			</form><!-- form -->
			<div class="button">
			</div><!-- button -->
		</section><!-- content -->
	</div><!-- container -->
</body>
<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</html>